h1 {
    text-align: center;
}

#topstories{
    width: 1000px;
    margin:auto;
}

article {
    width: 300px;
    height: 500px;
    font-weight: 200;
    display: inline-table;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
}

p {
    text-align: center;
    

}